<link type="text/css" rel="stylesheet" href="styles.css" />
<md-card>
    <md-card-title id="main-title">Dashboard</md-card-title>
    <md-card-content>
        <md-card-subtitle class="card-description" (click)="goToComponent('pages')">Content Pages</md-card-subtitle>
        <ul id="dash-pages" class="nav">
            <li *ngFor="let page of pages" >
                <button class="dash-button" md-raised-button color="accent" (click)="goToPage(page)">
                        {{ page.name }}
                </button>
            </li>
        </ul>
    </md-card-content>
    <md-card-content>
    <md-card-subtitle class="card-description" (click)="goToComponent('messages')">Unread Messages</md-card-subtitle>
        <ul id="dash-messages" class="nav">
            <li *ngFor="let message of messages" class="message" (click)="goToMessage(message._id)">
                <div class="from">From: </div>
                <div class="message-contact">
                <h3 class="message-contact-main">{{message.name}} ({{message.email}})</h3>
                <small class="message-contact-suppliment" *ngIf="message.reason == 'employment'">
                    {{ message.company}}: {{message.roll }}</small>
                </div>
                <h4 class="message-reason">Reason: {{message.reason}}</h4>
                <div class="message-content">{{message.content}}</div>
            </li>
        </ul>
    </md-card-content>
    <md-card-content>
        <md-card-subtitle class="card-description" (click)="goToComponent('analytics')">Analytics</md-card-subtitle>
        <ul id="dash-analytics" class="nav">
            <li *ngFor="let metric of metrics" (click)="goToMetric(metric.name)">
                <p>{{metric.name}}</p>
            </li>
        </ul>
    </md-card-content>
</md-card>